---
import type { EnrichedEvent } from '../types/timetable';

const { event } = Astro.props;

interface Props {
	event: EnrichedEvent;
}
---
<a href={`/event/${event.id}`}>
    <div class={`event-card scene-${event.sceneIndex}`}>
        <div class="event-title">{event.artist}</div>
        <div>{event.dateLabel} de {event.start_time} à {event.end_time}</div>
        <div>Scène <span class="scene">{event.sceneName}</span></div>
    </div>
</a>

<style>
    .event-card {
        background-color: color-mix(in srgb, var(--scene-color), transparent 80%);
        border-radius: 8px;
        padding: 8px;
    }

    .event-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .scene {
        background-color: var(--scene-color);
        padding: 0 4px;
        border-radius: 4px;
    }
</style>
