---
import type { EnrichedDay } from '../types/timetable';
import decimalTimeToDisplayTime from '../utilities/decimalTimeToDisplayTime';

interface Props {
	dayData: EnrichedDay;
}

const { dayData } = Astro.props;

const allDecimalTimes = dayData.scenes.flatMap(scene => scene.lineup.flatMap(event => [event.startDecimal, event.endDecimal]));
const minTime = Math.min(...allDecimalTimes);
const openingTime = decimalTimeToDisplayTime(minTime);
const maxTime = Math.max(...allDecimalTimes);
const closingTime = decimalTimeToDisplayTime(maxTime);
const totalQuarters = (maxTime - minTime) * 4;
const scenes = dayData.scenes.map(scene => scene.name);

---

<div>
    <p>Ouverture des portes : {openingTime} </p>
    <p>Fin du dernier concert : {closingTime}</p>
    <p>Dernier métro : {dayData.last_metro}</p>
</div>

<div class="timetable-wrapper">
    <div class="timetable-grid"style=`
            grid-template-columns: repeat(${scenes.length}, 140px); 
            grid-template-rows: repeat(${totalQuarters + 1}, 24px);
    `>
        {dayData.scenes.map((scene, sceneIndex) => (
            <>
                <div class={`scene-header scene-${sceneIndex}`} style={`grid-column: ${sceneIndex + 1}`}>
                    {scene.name}
                </div>
            
                {scene.lineup.map((event, eventIndex) => (
                    <div class={`lineup-item scene-${sceneIndex}`} style={`
                        grid-column: ${sceneIndex + 1};
                        grid-row: ${Math.round((event.startDecimal - minTime) * 4) + 2} / span ${Math.floor(event.durationQuarters)};
                    `}>
                        {event.artist}<br/>
                        {event.start_time} - {event.end_time}
                    </div>
                ))}
            </>
        ))}
    </div>
</div>

<style>
    .timetable-wrapper {
        flex: 1;
        position: relative;
        width: 100%;
        /*max-height: 50vh;*/
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .timetable-grid {
        display: grid;
        width: max-content;
    }

    .scene-header {
        text-wrap: nowrap;
        background-color: var(--scene-color);
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .lineup-item {
        background-color: var(--scene-color);
        border: solid 1px magenta;
    }

    .scene-0 {
        --scene-color: darkkhaki;
    }
    .scene-1 {
        --scene-color: darkgreen;
    }
    .scene-2 {
        --scene-color: blue;
    }
    .scene-3 {
        --scene-color: darkviolet;
    }
    .scene-4 {
        --scene-color: orangered;
    }
</style>
