---
import type { EnrichedDay } from '../types/timetable';

interface Props {
	dayData: EnrichedDay;
}

const { dayData } = Astro.props;

const allDecimalTimes = dayData.scenes.flatMap(scene => scene.lineup.flatMap(event => [event.startDecimal, event.endDecimal]));
const minTime = Math.min(...allDecimalTimes);
const maxTime = Math.max(...allDecimalTimes);
const totalQuarters = (maxTime - minTime) * 4;
const scenes = dayData.scenes.map(scene => scene.name);

---

<div>
    <p>Le premier concert du jour démarre à : {minTime} </p>
    <p>Le dernier concert du jour termine à : {maxTime}</p>
    <p>La journée dure (en quarts d'heures) : {totalQuarters}</p>
</div>

<div>
    <p>Calculons ma grille :</p>
    <p>Nombre de colonnes : {scenes.length}</p>
    <p>Nombre de lignes : {totalQuarters + 1}</p>
</div>

<!-- <pre>
    { JSON.stringify(dayData) }
</pre> -->

<div class="timetable-wrapper">
    <div class="timetable-grid"style=`
            grid-template-columns: repeat(${scenes.length}, 140px); 
            grid-template-rows: repeat(${totalQuarters + 1}, 1fr);
    `>
        {dayData.scenes.map((scene, index) => (
            <div class={`scene-header scene-${index}`} style=`grid-column: ${index + 1}`>
                {scene.name}
            </div>
        ))}
        
        {dayData.scenes.map((scene, sceneIndex) => (
            scene.lineup.map((event, eventIndex) => (
                <div class={`lineup-item scene-${sceneIndex}`} style={`
                    grid-column: ${sceneIndex + 1};
                    grid-row: ${Math.round((event.startDecimal - minTime) * 4) + 2} / span ${Math.floor(event.durationQuarters)};
                `}>
                    {event.artist}<br/>
                    {event.start_time} - {event.end_time}
                </div>
            ))
        ))}
    </div>
</div>

<style>
    .timetable-wrapper {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .timetable-grid {
        display: grid;
    }

    .scene-header {
        text-wrap: nowrap;
        background-color: var(--scene-color);
    }

    .lineup-item {
        background-color: var(--scene-color);
    }

    .scene-0 {
        --scene-color: darkkhaki;
    }
    .scene-1 {
        --scene-color: darkgreen;
    }
    .scene-2 {
        --scene-color: blue;
    }
    .scene-3 {
        --scene-color: darkviolet;
    }
    .scene-4 {
        --scene-color: orangered;
    }
</style>
